!!! 5
%html
  %head
    %title foodpron

    %link{ rel: 'stylesheet', href: '/css/bootstrap.min.css' }
    %link{ rel: 'stylesheet', href: '/css/bootstrap-responsive.min.css' }
    %link{ rel: 'stylesheet', href: '/style.css' }
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Bad+Script', type: 'text/css' }

  %body
    .container
      .logo
        %h1 foodpron
      .pron
        %img.img-polaroid{ src: "#{ src }" }
