body
  background-color: #111

.logo
  margin-top: 30px
  margin-bottom: 60px
  h1
    text-align: center
    font-family: 'Bad Script', cursive
    color: white

.pron
  img
    display: block
    margin-left: auto
    margin-right: auto